@tailwind base;

@tailwind components;

@tailwind utilities;

.dropdown:hover .dropdown-menu {
    display: block;
}

/* checkbox styling (user form) */
input:checked + svg {
    display: block;
}

/* Styling of jQuery's autocomplete pluging / widget */
.ui-autocomplete {
    cursor: pointer !important;
}

.ui-widget-content {
    border: none !important;
    font-size: 1em !important;
    color: grey !important;
}

.ui-menu .ui-menu-item {
    padding-top: 0.6rem !important;
    padding-bottom: 0.6rem !important;
}

.ui-menu .ui-menu-item:hover {
    background: #38b2ac8a !important;
}

.ui-menu-item-wrapper {
    border: none !important;
    background: none !important;
}